/***
    Equations found on article: https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/
    Here, ($min-font, $max-font) = (y1, y2) and ($min-vw, $max-vw) = (x1, x2) 
***/
main {
  min-height: 100svh;
}

.form {
  background-color: #3a3a3a;
  color: #FAF8FF;
  -webkit-box-shadow: 0px 0px 2px 2px #431708;
          box-shadow: 0px 0px 2px 2px #431708;
  border-radius: 0.625rem;
  max-width: 700px;
  width: 100%;
  padding: 1.25em;
  margin: 0 auto;
  text-align: center;
}
.form__label {
  display: block;
}
.form__input {
  background-color: #d6d6d6;
  color: #303030;
  width: 90%;
  max-width: 400px;
  border-radius: 0.625rem;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 2px solid transparent;
  text-align: center;
}
.form__input:focus-visible {
  outline: none;
  background-color: #FAF8FF;
  border: 2px solid #431708;
  -webkit-box-shadow: 0px 0px 4px 4px #431708;
          box-shadow: 0px 0px 4px 4px #431708;
}
.form__input::-webkit-input-placeholder {
  font-size: clamp(0.875rem, 0.9615384615vw + 0.5288461538rem, 1.125rem);
  text-align: center;
  opacity: 0.4;
}
.form__input::-moz-placeholder {
  font-size: clamp(0.875rem, 0.9615384615vw + 0.5288461538rem, 1.125rem);
  text-align: center;
  opacity: 0.4;
}
.form__input:-ms-input-placeholder {
  font-size: clamp(0.875rem, 0.9615384615vw + 0.5288461538rem, 1.125rem);
  text-align: center;
  opacity: 0.4;
}
.form__input::-ms-input-placeholder {
  font-size: clamp(0.875rem, 0.9615384615vw + 0.5288461538rem, 1.125rem);
  text-align: center;
  opacity: 0.4;
}
.form__input::placeholder {
  font-size: clamp(0.875rem, 0.9615384615vw + 0.5288461538rem, 1.125rem);
  text-align: center;
  opacity: 0.4;
}
.form__input--submit {
  padding: 0.5em 1em;
  border-radius: 0.625rem;
  border: 2px solid transparent;
  background-color: #FAF8FF;
  color: #303030;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-width: 200px;
  margin-top: 1.7em;
}
.form__input--submit i {
  padding-right: 0.5rem;
  color: #303030;
}
.form__input--submit:hover {
  background-color: #431708;
  -webkit-box-shadow: 0px 0px 4px 1px #431708;
          box-shadow: 0px 0px 4px 1px #431708;
  color: #FAF8FF;
}
.form__input--submit:hover i {
  color: #FAF8FF;
}
.form__input--submit:focus-visible {
  outline: none;
  -webkit-box-shadow: 0px 0px 4px 4px #431708;
          box-shadow: 0px 0px 4px 4px #431708;
  border: 2px solid #431708;
}
.form__input--checkbox {
  display: block;
  height: 2em;
  width: 2em;
  margin: 5px auto;
  accent-color: #431708;
}
.form__input--checkbox:hover {
  cursor: pointer;
  accent-color: #FAF8FF;
}
.form__input--error {
  -webkit-animation: err 0.2s linear;
          animation: err 0.2s linear;
  margin-bottom: 0;
  border: 2px solid #7f1818;
  -webkit-box-shadow: 0px 0px 2px 2px #7f1818;
          box-shadow: 0px 0px 2px 2px #7f1818;
}
.form__error-msg {
  margin-bottom: 0.4em;
  color: #d70019;
}
@-webkit-keyframes err {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}
@keyframes err {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}