.search {
  max-width: 800px;
  margin: 2rem auto;
}
.search__form {
  position: relative;
}
.search__form label {
  visibility: hidden;
  position: absolute;
}
.search__form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #efefef;
  color: #303030;
  border: none;
  padding: 1em;
  border-radius: 1rem;
}
.search__form__input:focus-visible {
  background-color: #FAF8FF;
  outline: 3px solid #431708;
  -webkit-box-shadow: 0px 0px 7px 7px #431708;
          box-shadow: 0px 0px 7px 7px #431708;
}
.search__form__btn {
  position: absolute;
  right: 0;
  padding-right: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  visibility: hidden;
}
.search__form__btn i {
  visibility: visible;
}

.products {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2rem;
  margin-bottom: 2rem;
}
.products__item {
  gap: 0.7rem;
  padding: 1rem 0.5rem;
  text-align: center;
  background-color: #3a3a3a;
  color: #FAF8FF;
  -webkit-box-shadow: 0px 0px 2px 2px #431708;
          box-shadow: 0px 0px 2px 2px #431708;
  border-radius: 0.625rem;
}
.products__item__img {
  width: 60%;
  background-color: #3a3a3a;
  color: #FAF8FF;
  -webkit-box-shadow: 0px 0px 2px 2px #431708;
          box-shadow: 0px 0px 2px 2px #431708;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 0px 8px 8px #303030;
          box-shadow: 0px 0px 8px 8px #303030;
}
.products__item__price {
  text-shadow: -1px -1px 10px #431708, 1px -1px 10px #431708, -1px 1px 10px #431708, 1px 1px 10px #431708;
}
.products__item__btn {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .products {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .products__item {
    -webkit-animation: fade-in linear;
            animation: fade-in linear;
    animation-timeline: view();
    animation-range: entry;
  }
  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}