$primary-clr: #303030;
$primary-clr-lighten: lighten($primary-clr, 4%);
$secondary-clr: #FAF8FF;
$shade-clr: #431708;

$err-clr:  #d70019;
$success-clr: #2F5B22;
$success-clr-lighten: lighten($success-clr, 4%);
$failure-clr: #6E1515;
$failure-clr-lighten: lighten($failure-clr, 4%);