.empty-cart{
    gap: 2rem;
    margin-top: 4rem;
    &__img{
        width: 50%;
    }
    &__msg{
        text-align: center;
    }
}

@media screen and (min-width: 750px){
    .empty-cart{
        &__img{
            width: 25%;
        }
    }
}