@use "variables" as var;
@use "functions" as func;
@use "mixins" as mix;
@use 'sass:color';


#main-container{
    min-height: 100svh;
}

.form{
    @include mix.card;
    max-width: 700px;
    width: 100%;
    padding: 1.25em;
    margin: 0 auto;
    text-align: center;

    &__label{
        display: block;
    }

    &__input{
        background-color: lighten(var.$primary-clr, 65%);
        color: var.$primary-clr;
        width: 90%;
        max-width: 400px;
        border-radius: 0.625rem;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 2px solid transparent;
        text-align: center;
        &:focus-visible{
            outline: none;
            background-color: var.$secondary-clr;
            border: 2px solid var.$shade-clr;
            box-shadow: 0px 0px 4px 4px var.$shade-clr;
        }
        &::placeholder{
            font-size: func.fluid_typography(14, 18, 576, 992);
            text-align: center;
            opacity: 0.4;
        }

        &--submit{
            @include mix.button;
            max-width: 200px;
            margin-top: 1.7em;
        }

        &--checkbox{
            display: block;
            height: 2em;
            width: 2em;
            margin: 5px auto;
            accent-color: var.$shade-clr;
            &:hover{
                cursor: pointer;
                accent-color: var.$secondary-clr;
            }
        }

        &--error{
            animation: err 0.2s linear;
            margin-bottom: 0;
            border: 2px solid var.$failure-clr-lighten;
            box-shadow: 0px 0px 2px 2px var.$failure-clr-lighten;
        }
    }

    &__error-msg{
        margin-bottom: 0.4em;
        color: var.$err-clr;
    }

    @keyframes err{
        0%, 100%{
            transform: translateX(0);
        }
        40%{
            transform: translateX(20px);
        }
        80%{
            transform: translateX(-20px);
        }
    }
}