@use "variables" as var;
@use "mixins" as mix;
@use "functions" as func;
@use 'sass:color';

@font-face {
    font-family: 'Dictator Regular';
    src: local('Dictator Regular'), 
        url('../assets/fonts/dictator_regular.woff') format('woff'),
        url('../assets/fonts/dictator_regular.woff2') format('woff2'),
        url('../assets/fonts/dictator_regular.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1128px;
    width: 85%;
    margin: 0 auto;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.text-large{
    font-size: func.fluid_typography(30, 90, 576, 1200);
}

.text-medium{
    font-size: func.fluid_typography(20, 30, 576, 992);
}

.text-small{
    font-size: func.fluid_typography(14, 18, 576, 992);
}

.btn{
    margin: 2rem;
    @include mix.button;
}

.page-title{
    text-shadow: -1px -1px 10px var.$shade-clr, 1px -1px 10px var.$shade-clr, -1px 1px 10px var.$shade-clr, 1px 1px 10px var.$shade-clr;
    text-align: center;
    margin: 2rem 0;
}

.notification{
    position: absolute;
    top: 1rem;
    left: auto;
    right: auto;
    width: 50%;
    max-width: 500px;
    padding: 1rem;
    text-align: center;
    border-radius: 0.625rem;
    opacity: 0.95;
    animation: popUp 2s ease;

    &--success{
        background-color: var.$success-clr;
        border: 2px solid var.$success-clr-lighten;
        color: var.$secondary-clr;
    }

    &--failure{
        background-color: var.$failure-clr;
        border: 2px solid var.$failure-clr-lighten;
        color: var.$secondary-clr;
    }
}

@keyframes popUp{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    20%{
        opacity: 0.95;
        transform: translateY(0);
    }
    80%{
        opacity: 0.95;
    }
    100%{
        opacity: 0;
    }
}

.no-animate{
    animation: none;
    position: relative;
}

body{
    background-color: var.$primary-clr;
    color: var.$secondary-clr;
}

header{
    width: 100%;
    position: sticky;
    background-color: var.$primary-clr-lighten;
    border-bottom: 2px solid var.$shade-clr;

    .logo{
        padding: 1rem 0;
        justify-content: space-between;
        align-items: center;
        &__img{
            height: 3rem;
            img{
                height: 100%;
                padding: 0.25rem 0;
            }
        }
        &__title{
            display: none;
            position: absolute;
        }
        .menu-hamburger{
            position: relative;
            button{
                position: absolute;
                opacity: 0;
            }
            &, 
            &::before, 
            &::after{
                transition: transform 0.2s ease;
                height: 4px;
                width: 30px;
                background-color: var.$secondary-clr;
                border-radius: 2px;
            }
            &::before, 
            &::after{
                display: block;
                content: '';
            }
            &::before{
                transform: translateY(-8px);
            }
            &::after{
                transform: translateY(4px);
            }
            &--animation{
                visibility: hidden;
                &::before,
                &::after,
                button{
                    visibility: visible;
                }
                &::before{
                    transform: translateY(0) rotate(45deg);
                }
                &::after{
                    transform: translateY(-4px) rotate(-45deg);
                }
            }
        }
    }


    .nav{
        visibility: hidden;
        display: none;
        &--visible{
            visibility: visible;
            display: block; 
        }
    }

    .nav__list{
        list-style: none;
        margin: 0;
        padding: 0.5rem 0 ;
        text-align: center;

        &__item{
            text-transform: uppercase;
            margin: 0 auto;
            width: 50%;

            &__link,
            &__link:visited{
                display: block;
                width: 100%;
                @include mix.button;
            }
        }

        &__item:not(:first-child){
            margin: 1rem auto;
        }
    }

}

/*** 
    small
***/
@media screen and (max-width: 576px){}

@media screen and (min-width: 640px){
    header{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo{
            gap: 0.5rem;
            &__img{
                display: block;
            }
            &__title{
                display: inline-block;
                position: relative;
                text-decoration: none;
                padding-top: 3px;
                font-family: 'Dictator Regular', system-ui, sans-serif;
                color: var.$secondary-clr;
            }
            .menu-hamburger{
                display: none;
                position: absolute;
            }
        }

        .nav{
            display: block;
            visibility: visible;
            &__list{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                &__item{
                    width: auto;
                    &__link{
                        i{
                            padding: 0;
                        }
                        span{
                            display: none;
                        }
                        &:hover{
                            i{
                                padding-right: 0.5rem;
                            }
                            span{
                                display: inline-block;
                            }
                            i, span{
                                animation: slideIn 0.2s linear;
                            }
                            @keyframes slideIn{
                                0%{
                                    opacity: 0;
                                    transform: translateX(10px)
                                }
                                100%{
                                    opacity: 1;
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*** 
    medium 
***/
@media screen and (min-width: 768px){}
/*** 
    large
***/
@media screen and (min-width: 1440px){}

@media screen and (min-width: 1200px){}

@media screen and (min-width: 992px){}